mixin videoBlock(video={})

    .video
        a(href=`${routes.videos}${routes.videoDetail(video._id)}`)
            video(src=`../${video.fileUrl}`)
            .title=video.title
            .views=`${video.views} views`
            //- -const date = video.createdAt;
            .createdAt=`${video.createdAt.getFullYear()}년 ${video.createdAt.getMonth()+1}월 ${video.createdAt.getDate()}일`
        .creator
            a(href=`${routes.users}${routes.userDetail(video.creator)}`)
                i.fas.fa-user-alt
                span.name=` ${video.creatorName}`