extend layouts/main

block content
    .wrap
        .video-player#jsVideoContainer
            video#jsVideo(src="../"+video.fileUrl)
            .video-control#jsVideoController
                .video-play#jsPlayButton
                    i.fas.fa-play
                .video-timer
                    input.videoTimer#jsVideoTimer(type="range", step="1", value="0")
                .video-time#jsVideoTime 00:00 / 00:00
                .video-volume#jsVoulme
                    .video-volumeIcon#jsVoulmeIcon
                        i.fas.fa-volume
                    input.videoVolumeRange#jsVoulmeRange(type="range", step="0.05", min="0", max="1", value="1")
                .video-fullScreen#jsFullScreen
                    i.fas.fa-expand
        .video-info
            .title=video.title
            -const date = video.createdAt
            -console.log(date)
            if video.views === 0 ||video.views === 1
                .views.createdAt=`${video.views} View · ${date.getFullYear()}. ${date.getMonth()+1}. ${date.getDate()}.`
            else
                .views.createdAt=`${video.views} Views · ${date.getFullYear()}. ${date.getMonth()+1}. ${date.getDate()}.`
            .creatorName
                span Uploaded by 
                a(href=routes.users+routes.userDetail(video.creator._id))
                    i.fas.fa-user
                    span=` ${video.creator.name}`
            .description=video.description
            if user
                if String(user._id) === String(video.creator._id)
                    a(href=routes.videos+routes.videoEdit(video._id))
                        button Edit Video
            form.add-comment#jsAddComment
                input(type="text", name="newComment", placeholder="Add a Comment...")
            ul.video__comment-list#jsCommentList
                each comment in video.comments.reverse()
                    if comment
                        if String(user._id) === String(comment.creator)
                            .comment.mycomment(data-id=comment._id)=comment.text
                            //- input.deleteBtn(type="submit", value="X" data-id=comment._id)
                        else 
                            .comment(data-id=`${comment._id}`)=comment.text
