header.header
    .wrap
        .logo
            a(href=routes.home)
                i.fab.fa-youtube
                |    YourTube
        .search
            form(action=routes.search, method="get").basic-form
                input(type="text", name="term", placeholder="Searching By term...")
        .nav_bar
            if user === undefined
                span
                    a(href=routes.signUp)
                        i.fas.fa-user-plus
                        |   SIGN UP
                span
                    a(href=routes.login)
                        i.fas.fa-sign-in-alt
                        |   LOGIN
            else
                span
                    a(href=routes.upload)
                        i.fas.fa-upload
                        |   UPLOAD
                span
                    a(href=`${routes.users}${routes.userDetail(user._id)}`)
                        i.fas.fa-user
                        |   PROFILE
                span
                    a(href=routes.logout)
                        i.fas.fa-sign-out-alt
                        |   LOGOUT